main {
	// height: 100em;
	// background-color: black;

	nav {
		background-color: grey;
		// display: hidden;

		section {
			display: hidden;
			height: 5em;
			padding-top: 1px;

			img {
				display: block;
				height: 9em;
				width: 9em;
				float: left;
				margin: 1em;
				position: relative;
				top: 1em;
			}

			#title {
				display: block;
				text-align: center;
				font-size: 4em;
				margin: 0.8em auto;
				color: white;
			}
		}

		ul {
			list-style-type: none;
			margin: 0 25%;
			clear: both;

			li {
				text-decoration: none;
				display: inline-block;
				padding: 0.4em;
				font-size: 1.5em;
				margin: 0 0.5em;

				a {
					color: white;
					text-decoration: none;
					font-size: 1.3em;
				}
			}
		}
	}

	#main, #game, #tumblr, #chatroom {
		background-color: black;
		height: 32em;
		color: white;
		margin-top: -1.3em;

		span {
			display: block;
			position: relative;
			top: 2em;
			left: 42%;
			font-size: 6em;
		}

		p {

		}
	}
}